.features {
  padding-top: 118px;
  padding-bottom: 164px;
}
.features__heading {
  margin-bottom: 90px;
}
.features__title {
  color: #010101;
}
.features__text {
  color: #313841;
}
.features-content {
  margin-bottom: 84px;
}
.features-content__description {
  margin-left: 20px;
}
.features-content__icons {
  font-size: 50px;
  color: #010101;
}
.features-content__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  color: #010101;
}
.features-content__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #898989;
}

