.footer {
  background-color: #010101;
  color: #fff;
}
.footer__contact {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 103px;
  width: 183px;
}

