.header {
  width: 100vw;
  height: 100vh;
  padding: 60px 0;
  background-color: #fcc500;
  color: #010101;
}
.menu {
  margin-top: 10px;

  @media(max-width: 992px) {
    flex-direction: column;
    height: 100vh;
    justify-content: space-around !important;
    align-items: center;
    position: absolute;
  }
}

.desktop-menu {
  margin-left: auto;

  @media(max-width: 992px) {
    display: none;
  }
}

.menu-mobile__toggle {

  @media(max-width: 992px) {
    display: flex;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 60%;
    right: 0;
    height: 100vh;
    width: 100% !important;
    background-color: #fa7d00;
    z-index: 100;
    opacity: 0.9;
  }
}
.menu__item {
  margin: 0 57px;
  list-style: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;

  @media(max-width: 992px) {
    font-size: 125px;
  }
}
.hamburger {
  display: none;

  @media (max-width: 992px) {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 15px;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 100;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      height: 3px;
      background-color: #010101;
      width: 24px;
      margin: auto;
      top: 10px;
      transform-origin: 50% 50%;
    }

    &:after {
      top: calc(100% - 11px);
    }
  }
}
.hamburger__icon {
  @media (max-width: 992px) {
    display: block;
    position: fixed;
    height: 3px;
    background-color: #010101;
    width: 24px;
    margin: auto;
  }
}
.active {
  @media (max-width: 992px) {
    .hamburger__icon {
      opacity: 0;
    }
  }
  &:after {
    transform: rotate(-45deg);
    top: 8px;
  }
  &:before {
    transform: rotate(45deg);
    top: 8px;
  }
}
.row-content {
  padding-top: 66px;
  padding-bottom: 107px;

  @media(max-width: 992px) {
    max-width: 600px;
    padding-top: 0;
  }
}
.content {
  padding-top: 73px;
  padding-bottom: 123px;

  @media(max-width: 992px) {
    padding: 10px 0;
  }
}
.content__title {
  margin-bottom: 22px;
  font-size: 32px;
  font-weight: 700;

  @media(max-width: 992px) {
    font-size: 40px;
  }
  @media(max-width: 768px) {
    font-size: 50px;
  }
  @media(max-width: 360px) {
    font-size: 110px;
  }
}
.content__subtitle {
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #313841;

  @media(max-width: 992px) {
    font-size: 24px;
  }
  @media(max-width: 360px) {
    font-size: 28px;
    margin: 55px 0;
  }
}
.content__text {
  margin-bottom: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #555555;

  @media(max-width: 992px) {
    font-size: 20px;
  }
}
.icons {
  list-style-type: none;
}
.icons__item {
  color: #010101;
  margin-right: 38px;
  font-size: 42px;
}
.ipad {
  display: block;
  margin: 0 auto;
}

