.header {
  width: 100vw;
  height: 100vh;
  padding: 60px 0;
  background-color: #fcc500;
  color: #010101;
}
.menu {
  margin-top: 10px;
}

.menu-mobile {

  @media(max-width: 992px) {
    display: none;

    &__toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      background-color: #fa7d00;
      z-index: 100;
    }
  }
}
.menu__item {
  margin: 0 57px;
  list-style: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
}
.menu__open {
  display: none;

  @media (max-width: 992px) {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 15px;
    cursor: pointer;
  }
}
.row-content {
  padding-top: 66px;
  padding-bottom: 107px;
}
.content {
  padding-top: 73px;
  padding-bottom: 123px;
}
.content__title {
  margin-bottom: 22px;
  font-size: 32px;
  font-weight: 700;
  line-height: 18px;
}
.content__subtitle {
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #313841;
}
.content__text {
  margin-bottom: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #555555;
}
.icons {
  list-style-type: none;
}
.icons__item {
  color: #010101;
  margin-right: 38px;
  font-size: 42px;
}
.ipad {
  display: block;
  margin: 0 auto;
}

